include ./html/const.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/style.min.css")
    title Aviasales
  body
  header.header
    img(src="./img/svg/icon/logo.svg", alt="Логотип" width='60' height='60')
  main.main
    form.form.filters(action="#", method="post")
      p.filters--title Количество пересадок
      each currentValue in filters
        if (currentValue.id == 'all')
          input.visually-hidden(type="radio", name="filter" value=currentValue.id id=currentValue.id checked)
        else
          input.visually-hidden(type="radio", name="filter" value=currentValue.id id=currentValue.id)
        label.filters--label(for=currentValue.id)
          span.filters--checkbox
            svg.filters--svg
              use(xlink:href='./img/svg/sprite/sprite.svg#check-mark')
          span.filters--text= currentValue.text
    form.form.sort(action="#", method="post")
      each currentValue in sorts
        input.visually-hidden(type="checkbox", name=currentValue.id id=currentValue.id)
        label.sort--button(class=currentValue.class for=currentValue.id)= currentValue.text
  footer
  script(src='./js/main.js' type='module')
  template#ticket
    .ticket
      p.ticket--price 13 400 P
      img.ticket--logo(src='#' srcset='#' alt='Логотип компании' height='36')
      ul.ticket--list#departure
        li.ticket--item
          p.ticket--title#direction MOW - HKT
          p.ticket--text 10:45 - 08:00
        li.ticket--item
          p.ticket--title В пути
          p.ticket--text.ticket--text__lower#travel-time-first 21ч 15м
        li.ticket--item
          p.ticket--title#stops 2 пересадки
          p.ticket--text#stop-place hkg, jnb
      ul.ticket--list#come-back
        li.ticket--item
          p.ticket--title#direction mow - hkt
          p.ticket--text 11:20 - 00:50
        li.ticket--item
          p.ticket--title В пути
          p.ticket--text.ticket--text__lower#travel-time-second 13ч 30м
        li.ticket--item
          p.ticket--title#stops 1 пересадка
          p.ticket--text#stop-place hkg
